@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: MontserratRegular;
        src: url("/fonts/Montserrat-Regular.ttf");
    }
    @font-face {
        font-family: MontserratBold;
        src: url("/fonts/Montserrat-Bold.ttf");
    }
    @font-face {
        font-family: MontserratExtraBold;
        src: url("/fonts/Montserrat-ExtraBold.ttf");
    }
    @font-face {
        font-family: MontserratLight;
        src: url("/fonts/Montserrat-Light.ttf");
    }
    @font-face {
        font-family: MontserratMedium;
        src: url("/fonts/Montserrat-Medium.ttf");
    }
    @font-face {
        font-family: MontserratSemiBold;
        src: url("/fonts/Montserrat-SemiBold.ttf");
    }
    @font-face {
        font-family: MontserratThin;
        src: url("/fonts/Montserrat-Thin.ttf");
    }
    @font-face {
        font-family: MontserratBlack;
        src: url("/fonts/Montserrat-Black.ttf");
    }
    @font-face {
        font-family: MontserratExtraLight;
        src: url("/fonts/Montserrat-ExtraLight.ttf");
    }
    html, body {
        font-family: MontserratRegular, sans-serif;
        scroll-behavior: smooth;
    }
    .font-medium {
        font-family: MontserratMedium, sans-serif;
    }
    .font-semibold {
        font-family: MontserratSemiBold, sans-serif;
    }
    .font-bold {
        font-family: MontserratBold, sans-serif;
    }
    .font-extrabold {
        font-family: MontserratExtraBold, sans-serif;
    }
    .font-black {
        font-family: MontserratBlack, sans-serif;
    }
}

@keyframes loader-animation {
    0% {
        left: -100%;
    }
    49% {
        left: 100%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}
.loader {
    @apply z-50 fixed overflow-hidden w-full h-screen bg-white;
}
.loader .bar {
    @apply relative h-1 w-full bg-yellow-400;
    animation-name: loader-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.btn-lg {
    @apply text-white bg-yellow-500 hover:bg-yellow-600 mt-5 py-5 px-7
}

.menu-icon {
	position: relative;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.menu-icon__cheeckbox {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    z-index: 2;
    -webkit-touch-callout: none;
    position: absolute;
    opacity: 0;
}

.menu-icon div {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 22px;
    height: 12px;
}
.menu-icon span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--bar-bg, #000);
    border-radius: 1px;
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}


    .menu-icon span:first-of-type {
        top: 0;
    }
    .menu-icon span:last-of-type {
        bottom: 0;
    }

.menu-icon.active, .menu-icon__cheeckbox.checked + div span:first-of-type {
    transform: rotate(45deg);
    top: 5px;
}
.menu-icon.active, .menu-icon__cheeckbox.checked + div span:last-of-type {
    transform: rotate(-45deg);
    bottom: 5px;
}

.menu-icon.active:hover span:first-of-type,
.menu-icon.active:hover span:last-of-type,
.menu-icon:hover .menu-icon__cheeckbox.checked + div span:first-of-type,
.menu-icon:hover .menu-icon__cheeckbox.checked + div span:last-of-type {
    width: 22px;
}

@media (min-width: 1024px) {
	.menu-icon:hover span:first-of-type {
            width: 26px;
        }

    .menu-icon:hover span:last-of-type {
        width: 12px;
    }
}
@media (max-height: 350px) {
    .show-big {
        display: none;
    }
}